#banner {
    position: absolute;
    height: 100%;
    width: 100%;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    background: url('../images/vase.jpg') no-repeat top;
    background-attachment: scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}

#wrap:hover #banner {
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    transition: 5s;
}

.container {
    background: #fff;
    position: relative;
    width: 100%;
    top: 100vmin;
    height: auto;
    z-index: 50;
}

#list {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    right: 0;
    left: 0;
}

#ca {
    position: relative;
    float: left;
    width: 50%;
    /*border: 0.5px solid #eeeeee;*/
}

#cb {
    position: relative;
    float: left;
    width: 50%;
    /*border: 0.5px solid #eeeeee;*/
}

.proa,
.prob {
    position: relative;
    /*background: rgb(210, 171, 171);*/
    width: 80%;
    height: auto;
    padding-bottom: 20%;
}

.prob {
    margin-left: 20%;
}

.proa img,
.prob img {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.proa img:hover,
.prob img:hover {
    opacity: 0.5;
    transition: .5s;
}

#pro2 {
    margin-top: 40%;
}

.intro h3 {
    position: absolute;
    line-height: 1;
    padding: 25px 0;
}

.intro div {
    width: auto;
    height: 60px;
}

.intro h5 {
    font-weight: 200;
    line-height: 2;
    color: #aaa;
}

.intro:hover h6 {
    color: #aaa;
    transition: .2s;
}

.cataloguebox {
    width: 100%;
    background: #f8f8f8;
    /*border: 4px solid #f1f1f1;*/
    bottom: calc(35 * (1vw + 1vh - 1vmin));
}

#ground {
    background: url('../images/vase4.jpg') no-repeat bottom;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    bottom: 0;
    width: 100%;
    height: calc(35 * (1vw + 1vh - 1vmin));
    transition: all 0.5s;
}