        @media (min-device-width: 550px) {
        .container:after,
        .row:after,
        .u-cf {
            content: "";
            display: table;
            clear: both;
        }
        @media (min-device-width: 1025px) {
            #connect1 {
                width: 30px;
                height: 30px;
                background: url('../images/icon/con1.svg') no-repeat 0 0;
                background-size: 124px 30px;
                transition: all .2s;
            }
            #connect1:hover {
                width: 30px;
                height: 30px;
                background: url('../images/icon/con2.svg') no-repeat 0 0;
                background-size: 124px 30px;
            }
            #connect3 {
                width: 30px;
                height: 30px;
                background: url('../images/icon/con1.svg') no-repeat 100% 0;
                background-size: 124px 30px;
                transition: all .2s;
            }
            #connect3:hover {
                width: 30px;
                height: 30px;
                background: url('../images/icon/con2.svg') no-repeat 100% 0;
                background-size: 124px 30px;
            }
        }