.party {
    position: relative;
    width: 100%;
    height: auto;
    z-index: -10;
}

.headlineleft {
    position: absolute;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    top: 35vmin;
    text-align: left;
    transition: all 0.5s;
}

#part1 {
    width: 100%;
    height: 100vh;
}

#text {
    width: 50%;
    height: 100%;
}

#org {
    background: url('../images/projects/eco360/Microsoft.png') no-repeat left;
    ;
    background-size: contain;
    width: 20em;
    height: 1.5em;
    margin: 0.5em 0;
}

#expo {
    position: absolute;
    top: 0;
    right: 0;
    background: url('../images/projects/eco360/sketch.jpg') no-repeat top;
    background-size: cover;
    width: 45%;
    height: 100%;
}

#part2 {
    background: url('../images/projects/eco360/CJM.jpg') no-repeat top;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 80%;
    height: 100vh;
}

.cataloguebox {
    position: relative;
    width: 100%;
    height: 100vmin;
    background: #ffffff;
}