#banner {
    position: absolute;
    height: 100%;
    width: 100%;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    background: url('../images/whale.jpg') no-repeat top;
    background-attachment: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}

#wrap:hover #banner {
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    transition: 5s;
}

#wrap {
    position: relative;
}

#change {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
    height: inherit;
    z-index: 50;
    padding-bottom: calc(34 * (1vw + 1vh - 1vmin));
}

.page {
    /*padding-top: calc(10 * (1vw + 1vh - 1vmin));*/
    padding-bottom: calc(25 * (1vw + 1vh - 1vmin));
}

.row {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    padding: 0 0 0 0;
}

.picture {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

.text {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    letter-spacing: -1px;
    transition: all 0.5s;
}

.text:hover {
    opacity: 1;
    letter-spacing: 1px;
}

.text span {
    position: absolute;
    width: 100%;
    top: 40%;
}

.eng_name,
.work_class,
.ch_name {
    text-align: center;
    text-decoration: none;
}

.picture span {
    color: #000;
}

.eng_name {
    font-size: 18px;
    font-weight: 500;
}

.work_class {
    font-size: 14px;
    font-weight: lighter;
}

.ch_name {
    font-size: 12px;
    font-weight: normal;
}

#picture2 div {
    background: url('../images/thumbnail/learning.jpg') no-repeat center;
    background-size: cover;
}

#picture4 div {
    background: url('../images/thumbnail/thinking.jpg') no-repeat center;
    background-size: cover;
}

#picture8 div {
    background: url('../images/thumbnail/practice.jpg') no-repeat center;
    background-size: cover;
}

#picture1 {
    background: url('../images/thumbnail/food.jpg') no-repeat center;
    background-size: cover;
}

#picture2 {
    background: url('../images/thumbnail/learning.jpg') no-repeat center;
    background-size: cover;
}

#picture3 {
    background: url('../images/thumbnail/wall.jpg') no-repeat center;
    background-size: cover;
}

#picture4 {
    background: url('../images/thumbnail/thinking.jpg') no-repeat center;
    background-size: cover;
}

#picture5 {
    background: url('../images/thumbnail/leyue.jpg') no-repeat center;
    background-size: cover;
}

#picture6 {
    background: url('../images/thumbnail/lightingroom.jpg') no-repeat center;
    background-size: cover;
}

#picture7 {
    background: url('../images/thumbnail/bike.jpg') no-repeat center;
    background-size: cover;
}

#picture8 {
    background: url('../images/thumbnail/practice.jpg') no-repeat center;
    background-size: cover;
}

#picture9 {
    background: url('../images/thumbnail/furniture.jpg') no-repeat center;
    background-size: cover;
}

#ground {
    background: url('../images/whale2.jpg') no-repeat top;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 50vh;
    transition: all 0.5s;
}