.party {
    position: relative;
    width: 100%;
    height: auto;
    z-index: -10;
}

.headlineleft {
    position: absolute;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    top: 40vmin;
    text-align: left;
    transition: all 0.5s;
}

#part1 {
    width: 100%;
    height: 100vh;
}

#text {
    width: 50%;
    height: 100%;
}

#expo {
    position: absolute;
    top: 0;
    right: 0;
    background: url('../images/projects/toiletthings/mall.jpg') no-repeat top;
    background-size: contain;
    width: 50%;
    height: 100%;
}

#part2 {
    background: url('../images/projects/toiletthings/toilet.jpg') no-repeat top;
    background-size: cover;
    width: 100%;
    height: 137vw;
}

.cataloguebox {
    position: relative;
    width: 100%;
    height: 100vmin;
    background: #ffffff;
}